.main {
  display: flex;
  flex-direction: column;

  h3 {
    margin: 16px 0;
  }
  .search {
    display: flex;
    justify-content: space-between;
    gap: 20px;

    .ant-btn-default {
      color: green;
      border-color: green;
    }
  }
}
