.main {
  display: flex;
  flex-direction: column;
  gap: 40px;


  .search {
    display: flex;

    gap: 20px;
  }

  .cart_button {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
}

